Source: gfxboot
Section: utils
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), patchutils, dpatch, x-dev, libx11-dev, libfreetype6-dev, nasm, xmlto, docbook-utils
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/gfxboot/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/gfxboot/trunk/

Package: gfxboot
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: grub-gfxboot (>> 0.97-12)
Suggests: gfxboot-theme-suse | gfxboot-theme-sles | gfxboot-theme-nld
Description: bootlogo creator for gfxboot compliant boot loaders
 This package is needed to create the graphical boot logos for gfxboot, 
 introduced and developed by SuSE, it is suitable for grub, lilo and syslinux.

